<h1> <i class="far fa-eye"></i> Ver Type</h1>
<table datatable class="table table-striped table-responsive-md btn-table">
  <thead>
  <tr>
     <td>Name</td>
 <td>Description</td>

    <td >Acciones</td>
  </tr>
  </thead>

  <tbody>
     
           <tr *ngFor="let type of type">
<td>{{ type.name}}</td>
<td>{{ type.description}}</td>
<td><a [routerLink]="['edit', type._id]" class="btn btn-primary"><i class="far fa-edit"></i></a>&nbsp;&nbsp;<a (click) = "deleteType(type._id)" class="btn btn-danger"><i class="far fa-trash-alt"></i></a></td>
         
      </tr>
  </tbody>
</table>
