<h1> <i class="far fa-edit"></i> Editar Workstation</h1>
<div class="card">
  <div class="card-body">
    <form [formGroup]="angForm" novalidate>
     <div class="form-group">
<label class="col-md-4">Name</label>
<input type="text" class="form-control" formControlName="name" #name [(ngModel)] = "workstation.name"/>
</div>
<div *ngIf="angForm.controls['name'].invalid && (angForm.controls['name'].dirty || angForm.controls['name'].touched)" class="alert alert-danger">
<div *ngIf="angForm.controls['name'].errors.required">
Name es requerido.
</div>
</div>
<div class="form-group">
<label class="col-md-4">Laboratory</label>
<input type="text" class="form-control" formControlName="laboratory" #laboratory [(ngModel)] = "workstation.laboratory"/>
</div>
<div *ngIf="angForm.controls['laboratory'].invalid && (angForm.controls['laboratory'].dirty || angForm.controls['laboratory'].touched)" class="alert alert-danger">
<div *ngIf="angForm.controls['laboratory'].errors.required">
Laboratory es requerido.
</div>
</div>
<div class="form-group">
<label class="col-md-4">Implement</label>
<input type="text" class="form-control" formControlName="implement" #implement [(ngModel)] = "workstation.implement"/>
</div>
<div *ngIf="angForm.controls['implement'].invalid && (angForm.controls['implement'].dirty || angForm.controls['implement'].touched)" class="alert alert-danger">
<div *ngIf="angForm.controls['implement'].errors.required">
Implement es requerido.
</div>
</div>
<div class="form-group">
<label class="col-md-4">Type</label>
<select class="form-control" formControlName="type" #type >
<option  [value]="type._id" *ngFor="let type of Type" >{{type.nombre}}</option>
</select>
</div>
<div *ngIf="angForm.controls['type'].invalid && (angForm.controls['type'].dirty || angForm.controls['type'].touched)" class="alert alert-danger">
<div *ngIf="angForm.controls['type'].errors.required">
Type es requerido.
</div>
</div>
<div class="form-group">
    <button (click)="updateWorkstation(name.value, laboratory.value, implement.value, type.value)"
    [disabled]="angForm.pristine || angForm.invalid"
    class="btn btn-primary"> Workstation</button>
  </div>

    </form>
  </div>
</div>