<h1> <i class="far fa-eye"></i> Ver Workstation</h1>
<table datatable class="table table-striped table-responsive-md btn-table">
  <thead>
  <tr>
     <td>Name</td>
 <td>Laboratory</td>
 <td>Implement</td>
 <td>Type</td>

    <td >Acciones</td>
  </tr>
  </thead>

  <tbody>
     
           <tr *ngFor="let workstation of workstation">
<td>{{ workstation.name}}</td>
<td>{{ workstation.laboratory}}</td>
<td>{{ workstation.implement}}</td>
<td>{{ workstation.type}}</td>
<td><a [routerLink]="['edit', workstation._id]" class="btn btn-primary"><i class="far fa-edit"></i></a>&nbsp;&nbsp;<a (click) = "deleteWorkstation(workstation._id)" class="btn btn-danger"><i class="far fa-trash-alt"></i></a></td>
         
      </tr>
  </tbody>
</table>
