<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
<h1>Bienvenido</h1>
<p>&nbsp;</p>

<a routerLink="workstation/create" routerLinkActive="active" class="btn btn-primary">
<i class="far fa-plus-square fa-7x"></i>
<h5 class="card-title">Crear Workstation</h5>
</a>
&nbsp;
<a routerLink="workstation" routerLinkActive="active" class="btn btn-success">
<i class="far fa-eye fa-7x"></i>
<h5 class="card-title">Ver Workstation</h5>
</a>
<p></p>
<a routerLink="type/create" routerLinkActive="active" class="btn btn-primary">
<i class="far fa-plus-square fa-7x"></i>
<h5 class="card-title">Crear Type</h5>
</a>
&nbsp;
<a routerLink="type" routerLinkActive="active" class="btn btn-success">
<i class="far fa-eye fa-7x"></i>
<h5 class="card-title">Ver Type</h5>
</a>
<p></p>

