<h1> <i class="far fa-plus-square"></i> Crear Type</h1>
<div class="card">
  <div class="card-body">
    <form [formGroup]="angForm" novalidate>
     <div class="form-group">
<label class="col-md-4">Name</label>
<input type="text" class="form-control" formControlName="name" #name/>
</div>
<div *ngIf="angForm.controls['name'].invalid && (angForm.controls['name'].dirty || angForm.controls['name'].touched)" class="alert alert-danger">
<div *ngIf="angForm.controls['name'].errors.required">
Name es requerido.
</div>
</div>
<div class="form-group">
<label class="col-md-4">Description</label>
<input type="text" class="form-control" formControlName="description" #description/>
</div>
<div *ngIf="angForm.controls['description'].invalid && (angForm.controls['description'].dirty || angForm.controls['description'].touched)" class="alert alert-danger">
<div *ngIf="angForm.controls['description'].errors.required">
Description es requerido.
</div>
</div>
<div class="form-group">
    <button (click)="addType(name.value, description.value)"
    [disabled]="angForm.pristine || angForm.invalid"
    class="btn btn-primary">Crear Type</button>
  </div>

    </form>
  </div>
</div>